<!DOCTYPE html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "Register" %></title>
  <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Rails Bootstrap" %>">
  <%= stylesheet_link_tag "users", :media => "all" %>
  <%= javascript_include_tag "users" %>
  <%= csrf_meta_tags %>
</head>

<body>


<%= form_for(@user) do |f| %>
    <div class="page-header">
      <%= image_tag("MovieShareLogo.png") %>
    </div>

    <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

          <ul>
            <% @user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

<div class= "container">
    <fieldset>
     Enter user details
     <div class="row">
      <div class="col-xs-6">
      <div class="form-group">
        <%= f.label :username %><br />:
        <%= f.text_field :username, size: 40 %>
      </div>
      <div class="form-group">
        <%= f.label :firstname %><br />:
        <%= f.text_field :firstname, size: 40 %>
      </div>
      <div class="form-group">
        <%= f.label :lastname %><br />:
        <%= f.text_field :lastname, size: 40 %>
      </div>
    </div>
    <div class= "col-xs-6">
      <div class="form-group">
        <%= f.label :email %><br />:
        <%= f.text_field :email, size: 40 %>
      </div>
      <div class="form-group">
        <%= f.label :password, 'Password' %><br />:
        <%= f.password_field :password, size: 40 %>
      </div>
      <div class="form-group">
        <%= f.label :password_confirmation, 'Confirm' %><br />:
        <%= f.password_field :password_confirmation, size: 40 %>
      </div>
    </div>

      <div>
        <%= f.submit %>
      </div>
    </div>
    </fieldset>

<% end %>


</div>
</body>
<html>