<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "Sign in to MovieShare" %></title>
  <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Rails Bootstrap" %>">
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
 
<body>
<div class="page-header">
  <%= image_tag("MovieShareLogo.png") %>
</div>
<% if notice %>
    <p id="notice"><%= notice %></p>
<% end %>

    <div class="depot_form">
      <% if flash[:alert] %>
        <p id="notice"><%= flash[:alert] %></p>
      <% end %>

      <%= form_tag do %>
          <fieldset>
            <legend>Please Log In</legend>
            <div>
              <%= label_tag :username, 'Username:' %>
              <%= text_field_tag :username, params[:username] %>
            </div>

            <div>
              <%= label_tag :password, 'Password:' %>
              <%= password_field_tag :password, params[:password] %>
            </div>

            <div>
              <%= submit_tag "Login" %>
            </div>

          </fieldset>
      <% end %>

    </div>


</body>
</html>
