<h1>Listing list_movies</h1>

<table>
  <tr>
    <th>List</th>
    <th>Movie name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @list_movies.each do |list_movie| %>
  <tr>
    <td><%= list_movie.list_id %></td>
    <td><%= list_movie.movie_name %></td>
    <td><%= link_to 'Show', list_movie %></td>
    <td><%= link_to 'Edit', edit_list_movie_path(list_movie) %></td>
    <td><%= link_to 'Destroy', list_movie, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New List movie', new_list_movie_path %>
