<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Julie er superkul" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Rails Bootstrap" %>">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
</head>
<body>
 	<div class ="row banner">
      <div class ="col-lg-3 col-md-3">
         <a href="mainpage">
            <div class="logo">
               <%= image_tag("MovieShareLogo.png")%>   
            </div>
         </a>
	   </div>
	   <div class ="col-lg-6 col-md-6 search">
      <div class="row btn-row">
         <div class="btn-group">
            <button type="button" class="btn btn-default">
              <span class="glyphicon glyphicon-film"></span> Movies
            </button>
            <button type="button" class="btn btn-default">
              <span class="glyphicon glyphicon-user"></span> Users
            </button>
            <button type="button" class="btn btn-default">
              <span class="glyphicon glyphicon-list"></span> Lists
            </button>
         </div>
        </div>
        <div class="row input-row">
         <div class="input-group">
          <input type="text" class="form-control">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">Search!</button>
          </span>
        </div>
        </div>
      </div>
 	   <div class ="col-lg-3 col-md-3 profile">
      <div class="row">
        <div class ="col-lg-4 col-md-4">
          <%= image_tag("userpic.jpeg") %>
        </div>
        <div class ="col-lg-6 col-md-6">
          <a href= "/pages/profilepage"><h4>Julie Dahl</h4></a>
          <a href="/pages/profilepage">Edit profile</a>
        </div>
      </div>
  		</div>
	   </div>

<<<<<<< HEAD
   <div class ="row ">
	   <div class= "col-lg-9 col-md-9 ">
		   <%= yield %>
	   </div>
      <div class= "col-lg-3 col-md-3 randommovie">
	     <h3> Have you seen this movie? </h3>
	     <div class="thumbnail">
            <div class="caption">
               <h3><a href="moviepage">Title</a></h3>
               <%= image_tag("userpic.jpeg") %>
               <p><a href="#" class="btn btn-primary">Yes</a> <a href="#" class="btn btn-default">No</a></p>
=======
   <div class ="row">
	   <div class= "col-lg-8 col-md-8">
		   <%= yield %>
	   </div>
      <div class= "col-lg-4 col-md-4">
      <div class="randommovie">
        <h3> Gravity (2013) </h3>
        <div class="row">
          <div class="col-xs-2">
            <button class="prev">
            </button>
          </div>
          <div class="col-xs-8 poster">
            <img id="poster" src="/assets/poster.jpeg">
          </div>
          <div class="col-xs-2">
            <button class="next">
            </button>
          </div>
        </div>
        <div class="row">
            <button class="yes btn btn-success">Seen</button>
            <div class="stars">
              <input name="star3" type="radio" class="star" />
              <input name="star3" type="radio" class="star" />
              <input name="star3" type="radio" class="star" />
              <input name="star3" type="radio" class="star" />
              <input name="star3" type="radio" class="star" />
>>>>>>> 44d961daebd827a87be9b1e1fb34c31d8202bcae
            </div>
        </div>
        <div class="row line">
            <button class="no btn btn-primary">Add to list</button>
        </div>

      </div>
	  </div>

   </div>

   <script>
   // Previous random movie
    $('.prev').click(function() {
      $('#poster').fadeOut(500, function() {
          $('#poster').attr("src","/assets/poster.jpeg");
          $('#poster').fadeIn(500);
      });
    });

    // Next random movie
    $('.next').click(function() {
      $('#poster').fadeOut(500, function() {
          $('#poster').attr("src","/assets/poster.jpeg");
          $('#poster').fadeIn(500);
      });
    });
   </script>

<div class="logout">
    <a href="/login/new">logout</a>
  </div>
</body>
</html>
