<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<<<<<<< HEAD
    <title><%= content_for?(:title) ? yield(:title) : "Julie er superkul" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Rails Bootstrap" %>">
=======
>>>>>>> cc0beb7f4757ef4b08c62a9e842158677e494f36
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
</head>
<body>


 	<div class ="row">
     <div class ="col-lg-3 col-md-3">
      <a href= "mainpage">	<%= image_tag("MovieShareLogo.png")%> </a>
	</div>
	 <div class ="col-lg-6 col-md-6">
      	<div class="input-group">
      		<ul class="nav nav-tabs">
  				<li class="active"><a href="#">Users</a></li>
  				<li><a href="#">Movies</a></li>
  				<li><a href="#">Lists</a></li>
  				<input type="text" class="form-control">
 	 			<span class="input-group-addon">Search</span>
 	 		</ul>
		</div>
	</div>
 	<div class ="col-lg-3 col-md-3">
      <div class="media">
  		<a class="pull-left" href="#">
   			<%= image_tag("userpic.jpeg") %> 
 		 </a>
  		<div class="media-body">
    		<h4 class="media-heading"><a href= "profilepage">Julie Dahl</a></h4>
    			Edit profile
  			</div>
		</div>
	</div>
</div>



<div class ="row">
	<div class= "col-lg-9 col-md-9">
		<%= yield %>
	</div>

	<div class= "col-lg-3 col-md-3">
	<h3> Have you seen this movie? </h3>
	<div class="thumbnail">
      <div class="caption">
        <h3><a href="moviepage">Title</a></h3>
         <%= image_tag("userpic.jpeg") %>
          <br>
           <br>
           <br>
        <p><a href="#" class="btn btn-primary">Yes</a> <a href="#" class="btn btn-default">No</a></p>
      </div>

    </div>
	</div>
	

</div>




</body>
</html>
