<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Rails Bootstrap" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Rails Bootstrap" %>">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
</head>
<body>


 	<div class ="row-fluid">
     <div class ="span4">
      	<%= image_tag("MovieShareLogo.png")%>
	</div>
	 <div class ="span4">
      	<div class="input-group">
      		<ul class="nav nav-tabs">
  				<li class="active"><a href="#">Users</a></li>
  				<li><a href="#">Movies</a></li>
  				<li><a href="#">Lists</a></li>
  				<input type="text" class="form-control">
 	 			<span class="input-group-addon">Search</span>
 	 		</ul>
		</div>
	</div>
 	<div class ="span4">
      <div class="media">
  		<a class="pull-left" href="#">
   			<%= image_tag("userpic.jpeg") %> 
 		 </a>
  		<div class="media-body">
    		<h4 class="media-heading">Julie Dahl</h4>
    			Edit profile
  			</div>
		</div>
	</div>
</div>

<div class ="row-fluid">
	<div class= "span9">
		<%= yield %>
	</div>
	<div class= "span3">
	<p> testing testing </p>
	</div>
</div>




</body>
</html>
