<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= $current_user.firstname + " " + $current_user.lastname %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Rails Bootstrap" %>">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
</head>
<body>
 	<div class ="row banner">
      <div class ="col-lg-3 col-md-3">
         <a href="/pages/mainpage">
            <div class="logo">
               <%= image_tag("MovieShareLogo.png")%>   
            </div>
         </a>
	   </div>
	   <div class ="col-lg-6 col-md-6 search">
      <div class="row btn-row">
         
          
        
         <div class="btn-group">
            <button type="button" class="btn btn-default">
              <span class="glyphicon glyphicon-film"></span> Movies
            </button>
            <button type="button" class="btn btn-default">
              <span class="glyphicon glyphicon-user"></span> Users
            </button>
            <button type="button" class="btn btn-default">
              <span class="glyphicon glyphicon-list"></span> Lists
            </button>
         </div>
        </div>
       <%= form_tag do %>
        <div class="row input-row">
         <div class="input-group">
         <%= text_field_tag :query, params[:query], class: 'form-control' %>
          <span class="input-group-btn">
            <%= submit_tag "Search", class: 'btn btn-default' %>
          </span>
        </div>
        </div>
        <% end %>
      </div>
 	   <div class ="col-lg-3 col-md-3 profile">
      <div class="row">
        <div class ="col-lg-4 col-md-4">
          <%= image_tag("userpic.jpeg") %>
        </div>
        <div class ="col-lg-6 col-md-6">
          <a href= "/pages/profilepage"><h4><%= $current_user.firstname + " " + $current_user.lastname %></h4></a>
          <div class="row">
            <a href="#test_modal" data-toggle="modal">Edit profile</a>
          </div>
          <div class="modal fade" id="test_modal">
            <div class="modal-header">
              <a class="close" data-dismiss="modal">&times;</a>
                <h3>Edit profile</h3>
            </div>
            <div class="modal-body">
              <div class="row-fluid">
                <div class="col-xs-12">
                  <p> About me:</p>
                  <%= form_tag do %>
                  <%= text_field_tag :mytext, params[:mytext], class: "span6 input-large" %>
                  <!--<input class="span6 input-large" type="text" id="aboutMe"></input>-->

                  <div class="fileinput">
                    <p> Profile picture: </p>
                    <input type="file" class="file"></input>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <div class="row">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
              </div>
              <div class="row">
                
                  <%= submit_tag "Save", class: "btn btn-primary" %>
                <% end %>
                <!--<a href="/pages/profilepage" class="btn btn-primary">Save Changes</a>-->
              </div>
            </div>
          </div> 
      </div>
    </div>
        </div>
      </div>
  		</div>
	   </div>

   <div class ="row">
	   <div class= "col-lg-8 col-md-8">
		   <%= yield %>
	   </div>
      <div class= "col-lg-4 col-md-4 rm">
      <div class="randommovie">
        <h3> 
          Gravity (2013)
        </h3>
        <div class="row">
          <div class="col-xs-2">
            <button class="prev">
            </button>
          </div>
          <div class="col-xs-8 poster">
            <%= image_tag("empty.png") %>
          </div>
          <div class="col-xs-2">
              <button class="next">
            </button>
          </div>
        </div>
        <div class="row">
            <button class="yes btn btn-success">Seen</button>
            <div class="stars">
              <input name="star3" type="radio" class="star" />
              <input name="star3" type="radio" class="star" />
              <input name="star3" type="radio" class="star" />
              <input name="star3" type="radio" class="star" />
              <input name="star3" type="radio" class="star" />
            </div>
        </div>
        <div class="row line btn-group">
          <button type="button" class="btn no btn-primary">Add to list</button>
          <button type="button" class="btn nocaret btn-primary dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
          </button>
          <table class="dropdown-menu" role="menu">
            <tr>
              <td>WishList</td> 
              <td><button class="btn btn-success">Add</button></td>
            <tr>
            <tr>
              <td>My Top Ten Movies</td>
              <td><button class="btn btn-success">Add</button></td>
            <tr>
            <tr>
              <td>Top Horror Movies</td>
              <td><button class="btn btn-success">Add</button></td>
            <tr>
            <tr>
              <td>Worst Movies</td>
              <td><button class="btn btn-success">Add</button></td>
            <tr>
          </table>
        </div>

      </div>
	  </div>

   </div>

   <script>
   // Previous random movie
    $('.prev').click(function() {
      $('#poster').fadeOut(500, function() {
          $('#poster').attr("src","/assets/poster.jpeg");
          $('#poster').fadeIn(500);
      });
    });

    // Next random movie
    $('.next').click(function() {
      $('#poster').fadeOut(500, function() {
          $('#poster').attr("src","/assets/empty.png");
          $('#poster').fadeIn(500);
      });
    });

    var el = $('.rm');
    var elpos_original = el.offset().top;

    $(window).scroll(function(){
      if(window.innerWidth >= 991){
          var elpos = el.offset().top;
          var windowpos = $(window).scrollTop();
          var finaldestination = windowpos;
          
          if(windowpos<elpos_original) {
              finaldestination = elpos_original;
              el.stop().css({'top':10});
          } else {
              el.stop().animate({'top':finaldestination-elpos_original+10},500);
          }
        }
        else {
          el.stop().css({'top':10})
        }
    });
   </script>

<div class="logout">
    <%= button_to 'Logout', logout_path, method: :delete %>
</div>
</body>
</html>
