<%= form_for(@movielist) do |f| %>
  <% if @movielist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@movielist.errors.count, "error") %> prohibited this movielist from being saved:</h2>

      <ul>
      <% @movielist.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="actions">
    <%= f.submit %>

  </div>
<% end %>
