<h1>Listing watched_movies</h1>

<table>
  <tr>
    <th>User</th>
    <th>Movies</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @watched_movies.each do |watched_movie| %>
  <tr>
    <td><%= watched_movie.user_id %></td>
    <td><%= watched_movie.movies %></td>
    <td><%= link_to 'Show', watched_movie %></td>
    <td><%= link_to 'Edit', edit_watched_movie_path(watched_movie) %></td>
    <td><%= link_to 'Destroy', watched_movie, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Watched movie', new_watched_movie_path %>
