<h1>Listing unseen_movies</h1>

<table>
  <tr>
    <th>Owner</th>
    <th>Movie name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @unseen_movies.each do |unseen_movie| %>
  <tr>
    <td><%= unseen_movie.owner_id %></td>
    <td><%= unseen_movie.movie_name %></td>
    <td><%= link_to 'Show', unseen_movie %></td>
    <td><%= link_to 'Edit', edit_unseen_movie_path(unseen_movie) %></td>
    <td><%= link_to 'Destroy', unseen_movie, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Unseen movie', new_unseen_movie_path %>
