<div class="row searchlist">
	<% if $type == "movies" %>
		<% if $movies.size == 2 %>
			<h2> I'm sorry, we could not find what you were looking for...</h2>
		<% else %>
			<% $movies.flatten(1).each do |movie| %>
			<div class="row movieinlist">
					<div class="col-sm-3 poster">
						<div class="row">
							<%= image_tag(movie["poster"]["imdb"]) rescue image_tag("empty.png") %>
						</div>
						<div class="row">
							<button class="btn btn-success seen">Seen</button>
						</div>
					</div>
					<div class="col-sm-9">
						<div class="row">
							<div class="col-xs-12">
								<h2><%= movie["title"] rescue "none" %> (<%= movie["year"] rescue "none" %>)</h2>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-6">
								<p class="genre">
									<% if movie["genres"] != nil %>
										<% movie["genres"].each do |genre| %>
											<strong><%= genre %></strong> 
											<% if genre != movie["genres"].last %>
												||
											<% end %>
										<% end %>
									<% end %>
								</p>
							</div>
							<div class="col-xs-6">
								<div class="btn-group addtolist">
									<button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
										Add to list<span class="caret"></span>
									</button>
									<table class="dropdown-menu" role="menu">
										<tr>
							              <td><%= button_to "WishList", { :controller => "pages", :action => "moviepage", :movieid => movie["imdb_id"], :type => "wishlist" }, :class => "btn btn-primary"  %></td>
							            <tr>
									<% find_lists.each do |list| %>
										<tr>
							              <td><%= button_to list.list_name, { :controller => "pages", :action => "moviepage", :list => list.id, :movieid => movie["imdb_id"], :type => "regular" }, :class => "btn btn-default"  %></td>
							            <tr>
									<% end %>
		          					</table>
		          				</div>
							</div>
						</div>
						<div class="row plot">
							<div class="col-xs-12">
								<p>
								<% if movie["plot_simple"] != nil %>
									<%= movie["plot_simple"] %>
								<% end %>
								</p>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12">
								<p>
								<strong>Rated</strong> 
								<% if movie["rated"] != nil %>
									<%= movie["rated"] %>
								<% end %>
								||
								<strong>Release Date</strong> 
								<% if movie["release_date"] != nil %>
									<%= movie["release_date"].to_s[4..5] %>/<%= movie["release_date"].to_s[6..7] %>
								<% end %>
								</p>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12">
								<p>
									<strong>Actors:</strong> 
									<% if movie["actors"] != nil %>
										<% movie["actors"].each do |actor| %>
											<% if actor != movie["actors"].last %>
												<%= actor %>,
											<% else %>
												<%= actor %>.
											<% end %>
										<% end %>
									<% end %>
								</p>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-12">
								<p>
									<strong>Directors:</strong> 
									<% if movie["directors"] != nil %>
										<% movie["directors"].each do |director| %>
											<% if director != movie["directors"].last %>
												<%= director %>,
											<% else %>
												<%= director %>.
											<% end %>
										<% end %>
									<% end %>
								</p>
							</div>
						</div>
					</div>
			</div>
			<% end %>
		<% end %>
	<% elsif $type == "users" %>
		<% if $users.size != 0 %>
			<% $users.each do |user| %>
			<div class="row users">
				<div class="row user">
					<div class="col-xs-3">
						<%= image_tag("userpic.jpeg") %>
					</div>
					<div class="col-xs-3">
						<h4><%= button_to user.username, { :controller => "pages", :action => "profile", :user_id => user.id, :type => "gotoprofile" } %></h4>
					</div>
				</div>
			</div>
			<% end %>
		<% else %>
			<h2> I'm sorry, we could not find what you were looking for...</h2>
		<% end %>
	<% elsif $type == "lists" %>
		<% if $lists != nil %>
		<% $lists.each do |list| %>
		<div class="row users">
			<div class="row user">
				<div class="col-xs-3">
					<h4><%= list.list_name %></h4>
				</div>
			</div>
		</div>
		<% end %>
		<% end %>
	<% end %>
</div>

