<html>
<head></head>
<body>
<div class="row">

	<div class="col-sm-4">
		<div class="row profilegroup">
			<div class="col-xs-5 profilepic">
				
				<%= image_tag($current_user.avatar) rescue image_tag("userpic.jpeg") %>
				<p> <%= $current_user.avatar%> </p>
				
			</div>
			<div class="col-xs-7">
				<h3><%= $current_user.firstname + " " + $current_user.lastname %></h3>
				
				<div class="aboutfield">
					
					<p> <%= $current_user.description %> </p>
					

					<div class="row">
					<a href="#test_modal" data-toggle="modal">Edit profile</a>
				</div>

				</div>
				
			</div>
		</div>	
	</div>
	<div class="col-sm-4">
		<div class= "row followingbuttons">
			<table class="stats">
				<tr>
				<td>
					<a type="button" class="btn followers" href="#following_modal" data-toggle="modal"><p><%= Follower.count(:conditions => "user_id_follower = #{$current_user.id}") %></p></a>
							<div class="modal fade" id="following_modal">
							  	<div class="modal-header">
							    	<a class="close" data-dismiss="modal">&times;</a>
							    	<h3>Following</h3>
							  	</div>
							  	<div class="modal-body">
                                  <% find_following.each do |fol| %>
                                      <% user = User.find_by_id(fol) %>
									  <p><%= button_to user.username+"   ---   "+user.firstname+" "+user.lastname, { :controller => "pages", :action => "profile", :user_id => user.id, :type => "gotoprofile" }, :class => "btn btn-default"  %></p>
                                  <% end %>
								</div>
							</div>
				</td>
				<td>
					<a type="button" class="btn followers" href="#followers_modal" data-toggle="modal"><p><%= Follower.count(:conditions => "user_id_model = #{$current_user.id}") %></p></a>
							 <div class="modal fade" id="followers_modal">
					 			<div class="modal-header">
					    			<a class="close" data-dismiss="modal">&times;</a>
					    			<h3>Followers</h3>
						  		</div>
							  	<div class="modal-body">
                                  <% find_followers.each do |follower| %>
                                  	  <% user = User.find_by_id(follower) %>
								      <p><%= button_to user.username+"   ---   "+user.firstname+" "+user.lastname, { :controller => "pages", :action => "profile", :user_id => user.id, :type => "gotoprofile" }, :class => "btn btn-default"  %></p>
                                  <% end %>
							  	</div>
							</div>
				</td>
				<td>
					<a type="button" class="btn followers" href="#movies_modal" data-toggle="modal"><p> <%= (get_watched_movies.count) -1 %> </p></a>
							 <div class="modal fade" id="movies_modal">
					 			<div class="modal-header">
					    			<a class="close" data-dismiss="modal">&times;</a>
					    			<h3>Movies Seen</h3>
						  		</div>
							  	<div class="modal-body">
									<% get_watched_movies.each do |movie| %>
										<p><%= movie["title"] %><p>
									<% end %>
							  	</div>
							</div>
				</td>
				</tr>
				<tr>
					<td>following</td>
					<td>followers</td>
					<td>movies seen</td>
				</tr>
			</table>


				</div>	
		</div>
		<div class="col-sm-4">
		</div>
		</div>

<div class="row mylists">
		<div class="col-sm-3 listscol">
			<div class="row">
				<a type="button" class="btn btn-default"href= "#newlist_modal" data-toggle="modal"> <span class="glyphicon glyphicon-plus"></span> New Movielist</a>
			</div>
			<h4 style="text-align: center;">My Movie Lists</h4>
			<div class="row">
				<%= button_to "WishList", { :controller => "pages", :action => "profilepage", :type => "wishlist" }, :class => "btn btn-primary"  %>
			</div>
			
			<% find_lists.each do |list| %>
				<div class="row">
					<%= button_to list.list_name, { :controller => "pages", :action => "profilepage", :list => list.id, :type => "regular" }, :class => "btn btn-default"  %>
				</div>
			<% end %>
			
		</div>
		<div class="col-sm-9 movielist">
		
			<% find_lists.each do |list| %>
				<% if list.id.to_s == $list_id %>
					<div class="row singlelist">
						<h3> <%= list.list_name %></h3>
					</div>
					<% $listmovies.each do |movie| %>
						<%= link_to image_tag(movie["poster"]["imdb"]), :controller => "pages", :action => "moviepage", :id => movie["imdb_id"] rescue link_to image_tag("empty.png"), :controller => "pages", :action => "moviepage", :id => movie["imdb_id"] %>
					<% end %>

					<div class="row">
					<div class="col-sm-12">
						<br>
						<a type="button" class="btn btn-default" href="#list_modal" data-toggle="modal"><span style="text-align: left;" class="glyphicon glyphicon-plus"></span>add</a>

					</div>
					</div>
							<div class="modal fade" id="list_modal">
								<div class="modal-header">
									<a class="close" data-dismiss="modal">&times</a>
									<div class="row row1">
										<h3><%= list.list_name %><h3>
									</div>
								</div>
								<div class="modal-body">
									<div class="row row2">
										<% $listmovies.each do |movie| %>
											<%= image_tag(movie["poster"]["imdb"]) rescue movie["title"] %>
										<% end %>
									</div>
									<div class="row btn-row">
          								<%= form_tag("/pages/list", method: "post") do %>
            							<div class="row">
            								<div style="visibility:hidden">
              								<%= radio_button_tag(:type, "movies", true) %> 
              								<%= label_tag(:q, "Movies") %>
              								</div>
            							</div>
            							<div class="row input-row">
             								<div class="input-group">
             									<%= text_field_tag :query, params[:query], class: 'form-control' %>
              									<span class="input-group-btn">
                									<%= submit_tag "Search", class: 'btn btn-default' %>
              									</span>
            								</div>
            							</div> 
        								<% end %>
        							</div>
								</div>
					</div>

				<% end %>
			<% end %>
			
		</div>	
		
</div>
			<div class="modal fade" id="newlist_modal">
				<form accept-charset="UTF-8" action="/my_lists" class="new_my_list" id="new_my_list" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"><input name="authenticity_token" type="hidden" value="GcmRwZclX8C/Rp62Uj5y7Ykp2mILicCBIH2vqP1u3kU="></div>
	
				<div class="modal-header">
					<a class="close" data-dismiss="modal">&times;</a>
					<h3> Title </h3>
					<div class="row">
					<input id="my_list_list_name" name="my_list[list_name]" size="30" type="text" >
					<div class="actions">
   					<input class="btn btn-default"  name="commit" type="submit" value="Create My list">
  					</div>
  					</div>
				</div>
					<div class="modal-body">
					<p> add movies </p>
					</div>
					<div class="footer">
					 	
					</div>
				</form>
			</div>

			


			
			
		<!--	<a href ="#mylist_modal"data-toggle="modal">

				<div class="row lists">
				<a href="/my_lists"> <span class="glyphicon glyphicon-list"> Show My Movie Lists</a>
				</br>
                <% find_lists.each do |list| %>
                    <p><a href='/my_lists/<%=MyList.find_by_list_name_and_owner_id(list.list_name, $current_user.id).id%>'><%= list.list_name %></a></p>
                <% end %>
				</div>

				
				<div class="modal fade" id="mylist_modal">
				

				<div class="modal-header">
					<a class="close" data-dismiss="modal">&times;</a>
					<h1>  </h1><a href="#">Change Title</a>
				
				</div>
				
					<div class="modal-body">
							<div class="row moviesinlists">
								<div class="col-xs-4">
									<%= image_tag("poster.jpeg") %>
								</div>
								<div class="col-xs-8">
								
								</div>
								
							</div>			
							
						</div>
				</div>
		</div>	
		-->		
</body>
</html>