<div class="row">
	<div class="col-sm-6">
		<div class="row profilegroup">
			<div class="col-xs-5">
				<%= image_tag("userpic.jpeg") %>
			</div>
			<div class="col-xs-7">
				<h2><%= $current_visited_user.firstname + " " + $current_visited_user.lastname %></h2>
				Om meg:
			</div>		 	
		</div>
	</div>
	<div class="col-sm-6">
		<div class= "row followingbuttons">
			<div class="col-xs-4" >
				<a type="button" class="btn followers" href="#following_modal" data-toggle="modal">following</br><p><%= Follower.count(:conditions => "user_id_follower = #{$current_visited_user.id}") %></p></a>
					<div class="modal fade" id="following_modal">
					  	<div class="modal-header">
					    	<a class="close" data-dismiss="modal">&times;</a>
					    	<h3>Following</h3>
					  	</div>
					  	<div class="modal-body">
                            <% find_visited_following.each do |fol| %>
                                <% user = User.find_by_id(fol) %>
								<p><%= button_to user.username+"   ---   "+user.firstname+" "+user.lastname, { :controller => "pages", :action => "profile", :user_id => user.id, :type => "gotoprofile" }, :class => "btn btn-default"  %></p>
                            <% end %>
						</div>
					</div>
			</div>
			<div class="col-xs-4">
				<a type="button" class="btn followers" href="#followers_modal" data-toggle="modal">followers</br><p><%= Follower.count(:conditions => "user_id_model = #{$current_visited_user.id}") %></p></a>
					 <div class="modal fade" id="followers_modal">
			 			<div class="modal-header">
			    			<a class="close" data-dismiss="modal">&times;</a>
			    			<h3>Followers</h3>
				  		</div>
					  	<div class="modal-body">
                            <% find_visited_followers.each do |fol| %>
                                <% user = User.find_by_id(fol) %>
								<p><%= button_to user.username+"   ---   "+user.firstname+" "+user.lastname, { :controller => "pages", :action => "profile", :user_id => user.id, :type => "gotoprofile" }, :class => "btn btn-default"  %></p>
                            <% end %>
					  	</div>
					</div>
			</div>

			<div class="col-xs-4">
				<a type="button" class="btn followers" href="#movies_modal" data-toggle="modal">movies seen</br><p> <%= get_visited_watched_movies.count %> </p></a>
					 <div class="modal fade" id="movies_modal">
			 			<div class="modal-header">
			    			<a class="close" data-dismiss="modal">&times;</a>
			    			<h3>Movies Seen</h3>
				  		</div>
					  	<div class="modal-body">
							<% get_visited_watched_movies.each do |movie| %>
								<p><%= movie["title"] %><p>
							<% end %>
					  	</div>
					</div>
			</div>
			<div class= "row">
		 		<%= button_to "Follow", { :controller => "pages", :action => "profile", :user_id => $current_visited_user.id, :type => "addfollower" }, :class => "btn btn-default" %>
			</div>
		</div>	
	</div>
</div>


<div class="row">
	<div class="col-xs-4">
		<h1>My Lists</h1>
		<div class="button-group-vertical">
			<% find_visited_lists.each do |list| %>
				<div class="row">
					<%= button_to list.list_name, { :controller => "pages", :action => "profilepage", :list => list.id }, :class => "btn btn-default"  %>
				</div>
			<% end %>	
		</div>
		<div class="col-sm-9 movielist">
		
			<% find_visited_lists.each do |list| %>
				<% if list.id.to_s == $list_id %>
					<div class="row singlelist">
						<button class="btn btn-default"> <%= list.list_name %></button>
					</div>
					<% $listmovies.each do |movie| %>
						<%= image_tag(movie["poster"]["imdb"]) rescue movie["title"] %>
					<% end %>
				<% end %>
			<% end %>			
		</div>	
	</div>

	<div class="col-sm-8">
		<div class="row">
			<div class="list-name">
			<h1><%= :list_name %></h1>
		</div></div>
		<div class="row list-info">
			<%= image_tag("poster.jpeg") %>
			<%= image_tag("poster.jpeg") %>
			<%= image_tag("poster.jpeg") %>
			<%= image_tag("poster.jpeg") %>
			<%= image_tag("poster.jpeg") %>
			<%= image_tag("poster.jpeg") %>
			<%= image_tag("poster.jpeg") %>

		</div>
	</div>

