<div class="row">
	<div class="col-sm-4">
		<div class="row profilegroup">
			<div class="col-xs-5">
				<%= image_tag("userpic.jpeg") %>
			</div>
			<div class="col-xs-7">
				<h3><%= $current_visited_user.firstname + " " + $current_visited_user.lastname %></h3>
				<p><%= $current_visited_user.description rescue "nothing"  %></p>
			</div>		 	
		</div>
	</div>

	<div class="col-sm-4">
		<div class= "row followingbuttons">
			<table class="stats">
				<tr>
				<td>
					<a type="button" class="btn btn-default followers" href="#following_modal" data-toggle="modal"><p><%= Follower.count(:conditions => "user_id_follower = #{$current_visited_user.id}") %></p></a>
					<div class="modal fade" id="following_modal">
					  	<div class="modal-header">
					    	<a class="close" data-dismiss="modal">&times;</a>
					    	<h3>Following</h3>
					  	</div>
					  	<div class="modal-body">
                            <% find_visited_following.each do |fol| %>
                                <% user = User.find_by_id(fol) %>
								<p><%= button_to user.username+"   ---   "+user.firstname+" "+user.lastname, { :controller => "pages", :action => "profile", :user_id => user.id, :type => "gotoprofile" }, :class => "btn btn-default"  %></p>
                            <% end %>
						</div>
					</div>
				</td>
				<td>
					<a type="button" class="btn btn-default followers" href="#followers_modal" data-toggle="modal"><p><%= Follower.count(:conditions => "user_id_model = #{$current_visited_user.id}") %></p></a>
					 <div class="modal fade" id="followers_modal">
			 			<div class="modal-header">
			    			<a class="close" data-dismiss="modal">&times;</a>
			    			<h3>Followers</h3>
				  		</div>
					  	<div class="modal-body">
                            <% find_visited_followers.each do |fol| %>
                                <% user = User.find_by_id(fol) %>
								<p><%= button_to user.username+"   ---   "+user.firstname+" "+user.lastname, { :controller => "pages", :action => "profile", :user_id => user.id, :type => "gotoprofile" }, :class => "btn btn-default"  %></p>
                            <% end %>
					  	</div>
					</div>
				</td>
				<td>
					<a type="button" class="btn btn-default followers" href="#movies_modal" data-toggle="modal"><p> <%= get_visited_watched_movies.count %> </p></a>
					 <div class="modal fade" id="movies_modal">
			 			<div class="modal-header">
			    			<a class="close" data-dismiss="modal">&times;</a>
			    			<h3>Movies Seen</h3>
				  		</div>
					  	<div class="modal-body">
							<% get_visited_watched_movies.each do |movie| %>
								<p><%= movie["title"] %><p>
							<% end %>
					  	</div>
					</div>
				</td>
				</tr>
				<tr>
					<td>following</td>
					<td>followers</td>
					<td>movies seen</td>
				</tr>
			</table>
			<div class= "row followbutton">
				
		 		<%= button_to "Follow", { :controller => "pages", :action => "profile", :user_id => $current_visited_user.id, :type => "addfollower" }, :class => "btn btn-primary" %>
		 	
			</div>
			<div class="col-sm-4">
		</div>
		</div>	
	</div>
</div>

<div class="row mylists">

		<div class="col-sm-3 listscol">
		<h4 style="text-align: center;">My Movie Lists</h4>
			<% find_visited_lists.each do |list| %>
				<div class="row">
					<%= button_to list.list_name, { :controller => "pages", :action => "profilepage", :list => list.id, :type => "regular" }, :class => "btn btn-default"  %>
				</div>
			<% end %>
			
		</div>
		<div class="col-sm-9 movielist">
		
			<% find_visited_lists.each do |list| %>
				<% if list.id.to_s == $list_id %>
					<div class="row singlelist">
						<h3> <%= list.list_name %></h3>
					</div>
					<% $listmovies.each do |movie| %>
						<%= link_to image_tag(movie["poster"]["imdb"]), :controller => "pages", :action => "moviepage", :id => movie["imdb_id"] rescue link_to image_tag("empty.png"), :controller => "pages", :action => "moviepage", :id => movie["imdb_id"] %>
					<% end %>
				<% end %>
			<% end %>
		</div>	
	</div>



