<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "Sign in to MovieShare" %></title>
  <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Rails Bootstrap" %>">
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
 
<body>
  <div class="container">
<div class="page-header">
  <%= image_tag("MovieShareLogo.png") %>
</div>
<% if notice %>
    <p id="notice"><%= notice %></p>
<% end %>

    <div class="depot_form">
      <% if flash[:alert] %>
        <p id="notice"><%= flash[:alert] %></p>
      <% end %>

      <%= form_tag do %>
          <div class="row login">
            <h2>Please Log In</h2>

            
              <div class="input-group">
                  
                   <%= text_field_tag :username, params[:username] , class: "form-control", placeholder: "Username"%>
                
                   
                  <%= password_field_tag :password, params[:password] , class: "form-control", placeholder: "Password"%>
                  
            </div>
           
            <div class="row">
               <div class="row register">
             <%= link_to "Register new user", '/users/new' %>
           </div>
              
              <%= submit_tag "Login", class: "btn btn-primary"  %>
            
            </div>

          </div>
      <% end %>
     
    </div>

</div>
</body>
</html>
