<div class="row searchlist">
	<% $movies.each do |movie| %>
	<div class="row movieinlist">
			<div class="col-sm-3 poster">
				<%= image_tag(movie["poster"]["imdb"]) rescue "<p>No image</p>" %>
			</div>
			<div class="col-sm-9">
				<div class="row">
					<h2><%= movie["title"] %> (<%= movie["year"]%>)</h2>
				</div>
				<div class="row">
					<p>
						<% movie["genres"].each do |genre| %>
							<strong><%= genre %></strong> 
							<% if genre != movie["genres"].last %>
								||
							<% end %>
						<% end %>
					</p>
				</div>
				<div class="row plot">
					<p><%= movie["plot_simple"] %></p>
				</div>
				<div class="row">
					<p>
					<strong>Rated</strong> <%= movie["rated"] %> ||
					<strong>Release Date</strong> <%= movie["release_date"].to_s[4..5] %>/<%= movie["release_date"].to_s[6..7] %>
					</p>
				</div>
				<div class="row">
					<p>
						<strong>Actors:</strong> 
						<% movie["actors"].each do |actor| %>
							<% if actor != movie["actors"].last %>
								<%= actor %>,
							<% else %>
								<%= actor %>.
							<% end %>
						<% end %>
					</p>
				</div>
				<div class="row">
					<p>
						<strong>Directors:</strong> 
						<% movie["directors"].each do |director| %>
							<% if director != movie["directors"].last %>
								<%= director %>,
							<% else %>
								<%= director %>.
							<% end %>
						<% end %>
					</p>
				</div>
			</div>
	</div>
	<% end %>
</div>

