<div class="row searchlist">
	<div class="row">
		<div class="col-xs-3">
			<%= image_tag($poster)%> 
		</div>
		<div class="col-xs-9">
			<div class="row">
				<h2><%= $title %> (<%= $year %>)</h2>
			</div>
			<div class="row">
				<p><%= $synopsis %></p>
			</div>
		</div>
	</div>
</div>

<p>Total 
<%= $listsize %>
</p>

<p>Id 
<%= $movies %>
</p>

<p>Title 
<%= $title %>
</p>

<p>Year 
<%= $year %>
</p>

<p>Rating 
<%= $rating %>
</p>

<p>Runtime 
<%= $runtime %>
</p>

<p>Theather 
<%= $theater %>
</p>

<p>Dvd 
<%= $dvd %>
</p>

<p>Synopsis 
<%= $synopsis %>
</p>

<p>poster 
<%= $poster %>
</p>

