<html>
<head></head>
<body>

Title: 
<%= $title rescue "nothing" %>
<div class="row">

	<div class="col-sm-6">
		<div class="row profilegroup">
			<div class="col-xs-5 profilepic">
				<%= image_tag("userpic.jpeg") %>
			</div>
			<div class="col-xs-7">
				<h3><%= $current_user.firstname + " " + $current_user.lastname %></h3>
				<p> About me: </p>
				<div class="aboutfield">
					<p> <%= $description %> </p>

				</div>
				<div class="row">
					<a href="#test_modal" data-toggle="modal">Edit profile</a>
				</div>
			</div>
		</div>	
	</div>
	<div class="col-sm-6">
		<div class= "row followingbuttons">
					<div class="col-xs-4" >
						<a type="button" class="btn followers" href="#following_modal" data-toggle="modal">following</br><p><%= $current_user.following_no %></p></a>
							<div class="modal fade" id="following_modal">
							  	<div class="modal-header">
							    	<a class="close" data-dismiss="modal">&times;</a>
							    	<h3>Following</h3>
							  	</div>
							  	<div class="modal-body">
							  		<p>Description</p>
								</div>
							</div>
					</div>
					<div class="col-xs-4">
						<a type="button" class="btn followers" href="#followers_modal" data-toggle="modal">followers</a>
							 <p><%= $current_user.followers_no %></p>
							 <div class="modal fade" id="followers_modal">
					 			<div class="modal-header">
					    			<a class="close" data-dismiss="modal">&times;</a>
					    			<h3>Followers</h3>
						  		</div>
							  	<div class="modal-body">
		                               
							  	</div>
							</div>
					</div>

					<div class="col-xs-4">
						<a type="button" class="btn followers" href="#movies_modal" data-toggle="modal">movies seen</a>
							 <div class="modal fade" id="movies_modal">
					 			<div class="modal-header">
					    			<a class="close" data-dismiss="modal">&times;</a>
					    			<h3>Movies seen</h3>
						  		</div>
							  	<div class="modal-body">
							    	<p>Description</p>
							  	</div>
							</div>
					</div>

				</div>	
		</div>
		</div>

<div class="row mylists">
		<div class="page-header"><h2>My Movielists</h2>
		<a type="button" class ="btn btn-default"href= "#newlist_modal" data-toggle="modal"> <span class="glyphicon glyphicon-plus"></span> New Movielist</a></div>
			<div class="modal fade" id="newlist_modal">
				<form accept-charset="UTF-8" action="/my_lists" class="new_my_list" id="new_my_list" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"><input name="authenticity_token" type="hidden" value="GcmRwZclX8C/Rp62Uj5y7Ykp2mILicCBIH2vqP1u3kU="></div>
	
				<div class="modal-header">
					<a class="close" data-dismiss="modal">&times;</a>
					<h3> Title </h3>
					<div class="row">
					<input id="my_list_list_name" name="my_list[list_name]" size="30" type="text" >
					<div class="actions">
   					<input class="btn btn-default"  name="commit" type="submit" value="Create My list">
  					</div>
  					</div>
				</div>
					<div class="modal-body">
					<p> add movies </p>
					</div>
					<div class="footer">
					 	
					</div>
				</form>
			</div>


			
			
			<a href ="#mylist_modal"data-toggle="modal">

				<div class="row lists">
				<a href="/my_lists"> <span class="glyphicon glyphicon-list"> Show My Movielists</a>
				
				</div>

				
				<div class="modal fade" id="mylist_modal">
				

				<div class="modal-header">
					<a class="close" data-dismiss="modal">&times;</a>
					<h1>  </h1><a href="#">Change Title</a>
				
				</div>
				
					<div class="modal-body">
							<div class="row moviesinlists">
								<div class="col-xs-4">
									<%= image_tag("poster.jpeg") %>
								</div>
								<div class="col-xs-8">
								
								</div>
								
							</div>			
							
						</div>
				</div>
		</div>			
</body>
</html>